*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3035;
}

#phaser-canvas {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
  position: relative;
  #fullscreen{
    margin-top: 12px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    i{
      background: rgba(0, 0, 0, 0.219);
      border-radius: 100%;
      padding: 8px;
      &:hover{
        background: rgba(0, 0, 0, 0.377);
        cursor: pointer;
      }
    }
  }
}

canvas {
  display: block;
}
