html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3035;
}

#phaser-canvas {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
}

canvas {
  display: block;
}
