<!doctype html>
<html lang="en-gb">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/042baba16c.js" crossorigin="anonymous"></script>

    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>

</head>

<body>
    <div id="phaser-canvas">
        <div id="fullscreen">
            <i class="fas fa-compress"></i>
            <span class="gamma">0</span>
        </div>
    </div>
</body>

</html>